* {
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
}
.wrapper {
	margin: 100px;
	margin-top: 50px;
}
table {
	border-collapse: collapse;
	width: 100%;
}

thead {
	background-color: rgb(0,0,0, 0.5);
}

td, th {
  border: 1px solid rgb(0,0,0);
  padding: 5px;
}

tr:hover {
	background-color: rgb(0,0,0, 0.5);
}

th {
  padding: 5px;
  background-color: rgb(60, 95, 117);
  color: rgb(255,255,255);
}
  a.delete-btn{
    color: rgb(60, 95, 117);
}
a.edit-btn{
    color: rgb(60, 95, 117);
}
a.style{
  font: bold 15px Arial;
  text-decoration: none;
  color: rgb(60, 95, 117);
}